.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/run-leetcode-task.ps1

.build/
build/
**/build/
**/CMakeFiles/
CMakeCache.txt
compile_commands.json

*.obj
*.o
*.lo
*.slo
*.pch
*.gch
*.ilk
*.pdb
*.idb
*.ipdb
*.iobj
*.dwo
*.d
*.lib
*.a
*.la
*.lai
*.dll
*.so
*.dylib
*.mod
*.smod
*.exe
*.out
*.app
